@using Workshop_8.models
@using Workshop_8.Components

@using Workshop_8.models

<div class="product-card">
    <h3>@Product.Name</h3>
    <p>Price: ?@Product.Price</p>
    <p>?? @Product.Likes</p>
</div>

@code {
    [Parameter]
    public Workshop_8.models.Product Product { get; set; } = default!;
}